includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/nunomaduro/larastan/extension.neon

parameters:
	level: max
	tmpDir: ./tmp/phpstan
	treatPhpDocTypesAsCertain: false

	paths:
		- src
		- tests

	ignoreErrors:
		-
			message: '#Method Tests\\.*Test::.* (has parameter|return type) .* (does not specify its type|no value type specified).*#i'
			path: '*Test.php'
		- '#Access to (protected|an undefined) property TenantCloud\\APIVersioning\\RouteVersionMixin::\$(container|action).#i'
		- '#PHPDoc tag \@var with type Illuminate\\Http\\Request is not subtype of native type \$this\(TenantCloud\\APIVersioning\\RequestMixin\)#i'
