includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/nunomaduro/larastan/extension.neon

parameters:
	level: max
	tmpDir: ./tmp/phpstan
	treatPhpDocTypesAsCertain: false

	paths:
		- src
		- tests

	ignoreErrors:
		- '#Access to protected property TenantCloud\\APIVersioning\\RouteVersionMixin::\$container.#i'
